* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.8;
  font-weight: 500;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main-card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  box-shadow: 20px 21px 18px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.main-card-one-section,
.main-card-two-section {
  float: left;
  width: 50%;
}

.main-card-one-section {
  padding: 10px;
  position: relative;
  color: #fff;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  text-align: center;
  border-radius: 20px;
  padding: 5% 0;
}

.main-card-one-section-top {
  position: relative;
  text-align: center;
}
.main-card-one-section-top p {
  font-size: 1rem;
  color: hsl(235, 100%, 87%);
}

.main-card-one-section-bottom-title {
  font-size: 1.5rem;
  color: #fff;
}
.main-card-one-section-bottom p {
}
.parentage-card {
  text-align: center;
  display: inline-block;
  padding: 10px;
  background: Linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(246, 84%, 56%, 1)
  );
  border-radius: 50%;
  height: 150px;
  width: 150px;
  line-height: 100px;
  vertical-align: middle;
  margin: 10% 0;
  position: relative;
}

.parentage-card p {
  margin: 0;
  width: 100%;
}

.bold-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 800;
  line-height: 30px;
}

.bold-main-span {
  font-size: 0.8rem;
  color: hsl(246, 100%, 74%);
}

.main-card-one-section-bottom {
  position: relative;
}
.main-card-one-section-bottom {
}
/* main-card-one-section-bottom-title */
.main-card-one-section-bottom p {
  text-align: center;
  width: 52%;
  margin: 3% auto;
  font-size: 0.9rem;
  color: hsl(235, 100%, 87%);
}
.main-card-two-section {
  padding: 3% 5%;
}
.main-card-two-section h1 {
  font-weight: bold;
  font-size: 1rem;
}

.grad-section-container {
  width: 100%;
  margin: 5% 0;
}

.grad-card {
  display: inline-block;
  width: 100%;
  padding: 0 2%;
  margin: 10px 0;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.8rem;
  vertical-align: middle;
}
.grad-card-flex {
  display: inline;
  position: relative;
}

.grad-card-flex img,
.grad-card-flex span {
  vertical-align: middle;
}
.grad-card-flex-percent {
  display: inline-block;
  margin-left: 50%;
}
.grad-card-img {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.grad-reaction {
  background-color: hsl(6, 100%, 98%);
}

.grad-visual {
  background-color: hsl(240, 71%, 91%);
}

.grad-verbol {
  background-color: hsl(173, 53%, 97%);
}

.grad-memory {
  background-color: hsl(42, 100%, 97%);
}

.btn {
  margin-top: 10%;
  padding: 3% 0;
  border: none;
  width: 100%;
  color: #fff;
  background-color: hsl(224, 30%, 27%);
  border-radius: 30px;
}
.btn:hover {
  cursor: pointer;
}
.card-parentage {
  color: hsl(40, 4%, 68%);
}

.grad-color-reaction {
  color: hsl(0, 100%, 67%);
}

.grad-color-memory {
  color: hsl(39, 100%, 56%);
}

.grad-color-verbal {
  color: hsl(166, 100%, 37%);
  margin: 0 3%;
}

.grad-color-visual {
  color: hsl(234, 85%, 45%);
  margin: 0 3%;
}

@media (max-width: 375px) {
  .main-card-container {
    position: static;
    transform: none;
  }
  .main-card-one-section,
  .main-card-two-section {
    /* float: left; */
    width: 100%;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
    border-radius: 0 0 20px 20px;
  }
  .grad-card-flex-percent {
    display: inline-block;
    margin-left: 45%;
  }
}
